/* Easing */
.ease-transition {
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5;
}

/* Tabs */
.tab:hover {
  background-color: "#F5F5F5";
}

/* Student Avatar */
.student-avatar {
  background-color: #203864;
  width: 6rem;
  height: 6rem;
  overflow: hidden;
  border-radius: 100%;
  display: grid;
  place-content: center;
}

.student-avatar-wrapper {
  position: relative;
}

/* Button */
.student-avatar-button {
  position: absolute;
  left: 50%;
  top: 50%;
  box-shadow: none;
}

/* Nav  */
li.nav-item.active > a {
  background: #3d4d65 !important;
  border-style: solid;
  border-right-width: 3px;
  border-right-color: #dfc46d;
  border-left-width: 0;
  border-top-width: 0;
  border-bottom-width: 0;
  box-shadow: none !important;
}

li.nav-item.active > a > svg {
  color: #dfc46d;
}

li {
  list-style: none;
}

.no-padding-left {
  padding-left: 0;
}

/* Header in exam page */
.exam-header {
  max-width: 880px;
  margin-left: auto;
  margin-right: auto;
}

/* @media (min-width: 1280px) {
  .exam-header {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* Avatar in Nav header */
.avatar-dropdown {
  position: fixed;
  padding: 1.5rem;
  background-color: white;
  right: 1%;
  top: 8%;
}

.avatar-dropdown-item {
  cursor: pointer;
  margin-bottom: 0.8rem;
}

.resources-text {
  position: absolute;
  left: 10%;
  top: 16%;
  color: #ffffff;
}

/* React Timetable */
.styles-module_day_title__cc17c,
.styles-module_hour__TLyj9 {
  background-color: #ffffff !important;
  color: #203864 !important;
}

.styles-module_event__28gBZ.undefined {
  background-color: #edf3fa !important;
  color: #203864 !important;
}
