/* Easing */
.ease-transition {
	transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5;
}

/* Tabs */
.tab:hover {
	background-color: "#F5F5F5";
}

/* Student Avatar */
.student-avatar {
	background-color: #203864;
	width: 6rem;
	height: 6rem;
	overflow: hidden;
	border-radius: 100%;
	display: grid;
	place-content: center;
}

.student-avatar-wrapper {
	position: relative;
}

/* Button */
.student-avatar-button {
	position: absolute;
	left: 50%;
	top: 50%;
	box-shadow: none;
}

/* Nav  */
li.nav-item.active > a {
	background: #3d4d65 !important;
	border-style: solid;
	border-right-width: 3px;
	border-right-color: #dfc46d;
	border-left-width: 0;
	border-top-width: 0;
	border-bottom-width: 0;
	box-shadow: none !important;
}

li.nav-item.active > a > svg {
	color: #dfc46d;
}

li {
	list-style: none;
}

.no-padding-left {
	padding-left: 0;
}

/* Header in exam page */
.exam-header {
	max-width: 880px;
	margin-left: auto;
	margin-right: auto;
}

/* @media (min-width: 1280px) {
  .exam-header {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* Avatar in Nav header */
.avatar-dropdown {
	position: fixed;
	padding: 1.5rem;
	background-color: white;
	right: 1%;
	top: 8%;
}

.avatar-dropdown-item {
	cursor: pointer;
	margin-bottom: 0.8rem;
}

.resources-text {
	position: absolute;
	left: 10%;
	top: 16%;
	color: #ffffff;
}

.card-deck {
	/* height: 190px; */
	border-radius: 8px;
	background: #355da6 url("../img/helpdesk-bg.svg") no-repeat center center/cover;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	color: #ffffff;
	text-transform: capitalize;
}

/* helpdesk */
.helpdesk-card ul {
	box-shadow: 0px 0px 6px rgba(0, 45, 107, 0.15);
	border-radius: 0 0 8px 8px;
}

.helpdesk-card ul li button.active {
	border-color: #203864 !important;
}

.helpdesk-edit {
	background: rgba(255, 255, 255, 0.1);
	
}

.helpdesk-edit .edit-btn {
	background: inherit;
	border: none;
	color: #ffffff;
	gap: 7px;
	width: 100%;
	height: 100%;
}

.btn-helpdesk {
	padding-left: 35px !important;
	padding-right: 35px !important;
}

/* React Timetable */
.styles-module_day_title__cc17c,
.styles-module_hour__TLyj9 {
	background-color: #ffffff !important;
	color: #203864 !important;
}

.styles-module_event__28gBZ.undefined {
	background-color: #edf3fa !important;
	color: #203864 !important;
}

/* MUI Autocomplete */
.css-1ghykbv-MuiAutocomplete-root.MuiOutlinedInput-root.MuiAutocomplete-input {
	font-size: 1.3rem;
}

/* Receipt Header lines */
.receipt-first {
	height: 1.1rem;
	background-color: #203864;
}

.receipt-second {
	height: 0.4rem;
	background-color: #dfc46d;
}

.receipt-third {
	height: 0.7rem;
	background-color: #203864;
	margin-bottom: 0.2rem;
}

.receipt-fourth {
	height: 0.2rem;
	background-color: #203864;
}
